@font-face {
  font-family: 'Enter Command';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/EnterCommand.ttf') format('truetype');
}

@font-face {
  font-family: 'Enter Command';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/EnterCommand-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Enter Command';
  font-weight: "bold";
  font-style: normal;
  src: url('/fonts/EnterCommand-Bold.ttf') format('truetype');
}

$ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$white: #ffffff;
$black: #171c21;
$blue: #0075bc;
$darkblue: #005c94;
$offwhite: #eef2f7;
$gray: #4d5257;

#game-wrapper {
  background: $black;
  width: 800px;
  height: 600px;
  position: relative;

  img {
    width: 528px;
    height: 184px;
    top: 142px;
    left: 136px;
    position: absolute;
    pointer-events: none;

    &.hide {
      display: none;
    }
  }
}